<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
列表过滤
列表排序
-->
<div id="demo">
    <input type="text" v-model="searchName">
    <ul>
        <li v-for="(item,index) in filterPersons" :key="item.id">
            {{item.id}}---{{item.name}}---{{item.age}}
        </li>
    </ul>
    <button @click="sortType=2">按年龄升序</button>
    <button @click="sortType=3">按年龄降序</button>
    <button @click="sortType=1">按原年龄排序</button>
</div>
<script src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#demo',
        data(){
            return {
                searchName:'',
                sortType:1,
                persons:[
                    {id:1, name:'Tom',age:12},
                    {id:2, name:'Jack',age:13},
                    {id:3, name:'Jerry',age:14},
                    {id:4, name:'Lukas',age:15},
                    {id:5, name:'Jsons',age:16},
                    {id:6, name:'Anthony',age:17},
                ]
            }
        },
        computed:{
            filterPersons (){
                //取出依赖数据
                const {searchName,persons,sortType} = this
                //计算产生一个新数据
                //过滤
                const arr = persons.filter((item,index)=> item.name.indexOf(searchName) !==-1)
                //排序
                if (sortType !==1){
                    arr.sort((p1,p2)=>{//返回值大于0，将p2放在左边
                        if(sortType===3){//降序
                            return p2.age - p1.age
                        }else {//升序
                            return p1.age - p2.age
                        }


                    })
                }
                //返回新数据
                return arr
            }
        }
    })
</script>
</body>
</html>