<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="demo">
    姓: <input type="text" placeholder="First Name" v-model="firstName"><br>
    名: <input type="text" placeholder="Last Name" v-model="lastName"><br>
    姓名1(单向):<input type="text" placeholder="Full Name1" v-model="fullName1"><br>
    姓名2(单向):<input type="text" placeholder="Full Name2" v-model="fullName2"><br>
    姓名3(双向):<input type="text" placeholder="Full Name3" v-model="fullName3"><br>
</div>
<script src="../js/vue.js"></script>
<script type="text/javascript">
    //全局配置
    Vue.config.productionTip = false;
    const vm = new Vue({
        el:'#demo',
        data:{
            firstName:'A',
            lastName:"B",
            fullName2:'A-B'
        },
        //计算属性
        computed:{
            /*什么时候执行？
            * 1.初始显示 执行一次
            * 2.依赖数据发生变化 执行*/
            fullName1(){ //getter
                console.log('计算属性执行',this)
                return this.firstName + '-' + this.lastName
            },
            fullName3:{//对象要用冒号才行
                get(){
                    console.log('3的get方法触发了')
                    return this.firstName + '-' + this.lastName
                },
                set(value){//当给fullName3指定新的值时自动调用
                    console.log('3的set方法触发了')
                    const name = value.split('-')
                    this.firstName = name[0]
                    this.lastName = name[1]
                }
            }
        },
        //监视属性
        watch:{
            //当fistName的值发生改变时调用
            firstName (value){
                //更新fullName2
                this.fullName2 = value + '-' + this.lastName
            },
           /* lastName (value){
                //更新fullName2
                this.fullName2 = this.firstName + '-' + value
            }*/
        },
    })
    //监视lastName----另一种写法
    vm.$watch('lastName',function (value){
        this.fullName2 = this.firstName + '-' + value
    })
    /*
    * 1.vue控制的所有回调的this都是vm/组件对象
    * 2.vue给vm定义了一些与data中的属性对应的属性
    *           同名
    *           getter方法：当vm.xxx读取属性值时，读取data对象中，同名属性的值
    *           setter方法：当通过vm.xxx = value指定新的值时，值就保存在data中对应的属性上
    *        数据代理： vm._data.xxx ===> vm.xxx 通过vm代理对vm内部的data对象的属性的操作（读/写）
    * 3.什么时候用计算属性？
    *   如果要显示的数据可以根据现有的属性进行改变
    * */
</script>
</body>
</html>